body {
background-color: rgb(68, 68, 247);
font: normal 60pt Arial;
color: white;
text-align: center;
}

header {
text-align: center;
}

section {
background-color: white;
width: 1000px;
padding: 15px;
margin: auto;
border-radius: 10px;
color: black;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}

div {
    padding: 15px;
}

footer {
text-align: center;   
font-style: italic; 
}